<app-navbar></app-navbar>

<section id="register-completed" class="my-5 px-md-5" >
    <div class="container" style="max-width: 68rem;">
        <div class="row ">
            <div class="col">
                <h3><i class="fa-solid fa-circle-check me-2 text-success "></i> Registro Concluido</h3>
            </div>
            <div class="col text-end">
                <button class="btn btn-danger"> <i class="fa-regular fa-circle-xmark me-2"></i>Quiero Cancelar mi cita</button>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="row ">
                    <div class="col ">
                        <div class="row">
                            <div class="col-auto">
                                <span>CURP: </span>
                            </div>
                            <div class="col text-start">
                                <h6>XEEEEE34DENEXXXE2</h6>
                                <h6>MARTHA ALICIA CARMONA SOLIS</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col text-end ">
                                <img src="assets/img/home/persons.svg" alt="Bootstrap"  height="40">
                            </div>
                            <div class="col text-start">
                                <h6 class="title">Personas de 18 y mas</h6>
                            <p class="subtitle">Segunda Dosis</p>
                            <h6 class="title2">ASTRA ZENECA</h6>
                            <p class="subtitle2">Primera Dosis Aplicada antes del 15 de agosto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6>Módulo</h6>
                        <p>Auditorio Benito Juárez</p>
                    </div>
                    <div class="col">
                        <h6>Módulo</h6>
                        <p>Av. Matiano Barcenas s/n Col. Auditorio, 45910 Zapopan, Jalisco</p>
                    </div>
                    <div class="col">
                        <h6>Fecha y Hora</h6>
                        <button type="button" class="btn btn-primary ">Lunes 11 de Octubre 7:30 am</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <p>Ya tienes asegurado el lugar y hora para tu vacunación, ahora, para asegurar tu dosis es muy importante que también te registres en la plataforma federal. Ingresa <a href="">https://mivacuna.salud.gob.mx/</a> para obtener tu expediente de vacunación. Recomendaciones para el día de tu vacunación:</p>
        </div>
    </div>
</section>

<app-footer></app-footer>