<section id="footer">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-auto ">
                <img src="assets/img/footer/logo_jalisco_red_vacunacion_radar.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_jalisco_cuidarse.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_jalisco_salud.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_jalisco_servicio_salud.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_jallisco_samu.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_sedena.png" alt="Bootstrap"  height="30">
            </div>
            <div class="col-auto">
                <img src="assets/img/footer/logo_bienestar.png" alt="Bootstrap"  height="30">
            </div>
        </div>
    </div>
</section>