<app-navbar></app-navbar>

<section id="home" class="py-3 ">
    
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-auto ">
                <div class="card" style="max-width: 52rem;">
                    <div class="card-body mx-md-5 px-md-5">
                        <h3 class="m-5 text-center ">Campañas activas de vacunación contra Covid-19 (ZMG)</h3>
        
                        <!-- Swiper -->
                        <div class="container">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-container mySwiper">
                            
                                <swiper-container slides-per-view="2">
                                    <swiper-slide>
                                        <div class="card card-box mx-2">
                                            <div class="card-body ">
                                                <img src="assets/img/home/persons.svg" alt="Bootstrap"  height="40">
                                                <h6 class="title">Personas de 18 y mas</h6>
                                                <p class="subtitle">Primera Dosis</p>
                                            </div>
                                        </div>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <div class="card card-box mx-2">
                                            <div class="card-body ">
                                                <img src="assets/img/home/persons.svg" alt="Bootstrap"  height="40">
                                                <h6 class="title">Personas de 18 y mas</h6>
                                                <p class="subtitle">Segunda Dosis</p>
                                                <h6 class="title2">ASTRA ZENECA</h6>
                                                <p class="subtitle2">Primera Dosis Aplicada antes del 15 de agosto</p>
                                            </div>
                                        </div>
                                    </swiper-slide>
                                    <swiper-slide>
                                        <div class="card card-box mx-2">
                                            <div class="card-body ">
                                                <img src="assets/img/home/persons.svg" alt="Bootstrap"  height="40">
                                                <h6 class="title">Personas de 18 y mas</h6>
                                                <p class="subtitle">Tercera Dosis</p>
                                                <h6 class="title2">ASTRA ZENECA</h6>
                                                <p  class="subtitle2">Segunda Dosis Aplicada antes del 15 de octubre</p>
                                            </div>
                                        </div>
                                    </swiper-slide>
                                    ...
                                </swiper-container>
                        
                            </div>
                        </div>
                        <!-- Swiper JS -->
        
        
                        <hr>
                        <h4>Comenzar Ahora</h4>
                        <p>Ingresa tu CURP para agendar una cita<br> o para <a class="text-click-blue" href="#">cancelar una cita</a> ya registrada</p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-white " id="basic-addon1">
                                        <i class="fa-regular fa-user"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary mx-3 px-5">Continuar</button>
                            </div>
                        </div>
                        <p class="text-muted">Si no conoces tu CURP <a class="text-click-blue" href="#">consulta aqui</a></p>
                    </div>
                </div>
            </div>
            <div class="col-auto mt-3">
                <button class="btn whatsapp rounded-5 d-flex align-items-center "><i class="fa-brands fa-whatsapp fa-2x me-2"></i> 33 4567 3440</button>
    
            </div>
        </div>
    </div>
    
    <!-- <div class="container  ">
        

    </div> -->
</section>


<app-footer></app-footer>